/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    -webkit-box-shadow: 8px 9px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 9px 13px 0px rgba(0,0,0,0.75);
     box-shadow: 8px 9px 13px 0px rgba(0,0,0,0.75);
}

#sidebar.active {
    margin-left: -250px;

}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
#sidebarCollapse{
  display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
#sidebarCollapse{
  display: block;
}
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

#activeImagePreview{
    width: 400px;
    height: 400px;
}
#activeImagePreview img{
    zoom: 150%;
}



/* -------------------------------------------------------------------- */
                    /* slider */

/* --------------------------------------------------------------------- */


  
  .w {
    height:80vmin;
  }
  
  .ts {
    width:100%; height:100%;
    position:relative;
    --barH:10%;/*active zone height = 100% - barH*/
  }
  
  .t {
    --w:20%;
    display:block; width:var(--w); height:var(--barH);
    position:absolute; bottom:0; left:var(--l);
    -webkit-transform-origin:top left;
            transform-origin:top left;
  }
  
  .t img {
    dislay:block; width:100%; height:100%;
    -o-object-fit:cover;
       object-fit:cover;
    -webkit-transform:scale(0.8);
            transform:scale(0.8);
  }
  
  [type="radio"] { 
    display:none; 
  }
  
  :checked + label.t {
    left:0; bottom:var(--barH);
    width:100%; height:calc(100% - var(--barH));
  }
  
  :checked + label.t img {
    -o-object-fit:contain;
       object-fit:contain;
  }
  
  /* 
  optional
  */
  
  .ts {/*thumbnails bar*/
    -webkit-perspective:100px;
            perspective:100px;
    -webkit-perspective-origin:center center;
            perspective-origin:center center;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
    pointer-events:none;
  }
  

  
  :not(:checked) + .t {/*inactive labels*/
    -webkit-transform:translate3d(0, 0, -5px);
            transform:translate3d(0, 0, -5px);
    pointer-events:auto;
  }
  
  :not(:checked) + .t:hover {
    -webkit-transform:translate3d(0, -7px, -5px);
            transform:translate3d(0, -7px, -5px);
    box-shadow:0 30px 30px -25px rgba(0,0,0,0.3);
    cursor:pointer;
  }
  
  :not(:checked) + .t img {
    -webkit-transform:scale(0.9);
            transform:scale(0.9);/*create gaps*/
  }
  
  :checked + .t {/*active label*/
    box-shadow:0 0 0 transparent;
    -webkit-animation:anim 2s 1;
            animation:anim 2s 1;
  } @-webkit-keyframes anim {
    from { -webkit-transform:rotateY(6deg)rotateX(3deg); transform:rotateY(6deg)rotateX(3deg) }
  } @keyframes anim {
    from { -webkit-transform:rotateY(6deg)rotateX(3deg); transform:rotateY(6deg)rotateX(3deg) }
  }
  
  /* 
  transitions
  */
  .t {/*active->inactive & hover->rest*/
    transition:bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s, -webkit-transform 0.5s;
    transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s;
    transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s, -webkit-transform 0.5s;
  }
  .t:hover, :checked + .t {
    transition:bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s, -webkit-transform 0.5s;
    transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s;
    transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s, -webkit-transform 0.5s;
  }

/* -------------------------------------------------------------------- */
                    /* slider end*/

/* --------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
                    /* ribon*/

/* --------------------------------------------------------------------- */

.box {
  position: relative;

  margin: 0 auto;
}
.box.ofh {
  overflow: hidden;
}
/* Ribbon 1 */
.top-cross-ribbon {
    background: #EA4335;
    padding: 14px 50px;
    color: #FFF;
    position: absolute;
    top: 0;
    right: -57px;
    transform: rotate(45deg);
    border: 1px dashed #FFF;
    box-shadow: 0 0 0 3px #EA4335;
    margin: 5px;
}

/* Ribbon 2*/
.arrow-ribbon {
  background: #EA4335;
  color: #FFF;
  padding: 7px 50px;
  position: absolute;
  bottom: 10px;
  right: -1px;
}
.arrow-ribbon:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    left: -12px;
    border-top: 15px solid transparent;
    border-right: 12px solid #EA4335;
    border-bottom: 15px solid transparent;
    width: 0;
}

/* Ribbon 3 */
.bottom-ribbon {
  background: #EA4335;
  color: #FFF;
  padding: 7px 50px;
  position: absolute;
  bottom: 10px;
  right: -1px;
  border-radius: 20px 0 0 20px;
}
.bottom-ribbon:after {
  position: absolute;
  right: -25px;
  top: -18px;
  bottom: 0;
  z-index: 9999;
  content: "";
  border-bottom: 43px solid #EA4335;
  border-left: 38px solid transparent;
  border-right: 20px solid transparent;
  width: 42px;
  z-index: -1;
}

/*Ribbon 4 */
.half-circle-ribbon {
  background: #EA4335;
  color: #FFF;
  height: 60px;
  width: 60px;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  top: -1px;
  right: -1px;
  flex-direction: row;
  border-radius: 0 0 0 100%;
  border: 1px dashed #FFF;
  box-shadow: 0 0 0 3px #EA4335;
}

/* Ribbon 5 */
.cross-shadow-ribbon {
  position: absolute;
  background: #EA4335;
  top: -15px;
  padding: 10px;
  margin-left: 15px;
  color: #FFF;
  border-radius: 0 0 2px 2px;
}
.cross-shadow-ribbon:before {
  content: "";
  position: absolute;
  left: -15px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #A42F25;
  border-left: 15px solid transparent;
}

/* Ribbon 6 */
.cover-ribbon {
  height: 115px;
  width: 115px;
  position: absolute;
  right: -8px;
  top: -8px;
  overflow: hidden;
}
.cover-ribbon .cover-ribbon-inside {
  background: #EA4335;
  color: #FFF;
  transform: rotate(45deg);
  position: absolute;
  right: -35px;
  top: 15px;
  padding: 10px;
  min-width: 127px;
  text-align: center;
}
.cover-ribbon .cover-ribbon-inside:before {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #992C23;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  top: 35px;
  transform: rotate(-45deg);
}
.cover-ribbon .cover-ribbon-inside:after {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid #992C23;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: 95%;
  right: 0;
  top: 34px;
  bottom: 0;
  content: "";
  transform: rotate(-45deg);
}

/* -------------------------------------------------------------------- */
                    /* ribon end*/

/* --------------------------------------------------------------------- */

.imagefloat{
-webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
}

:root {
  --primary-color: #368ae9;
  --brand-fb: #3b5998;
  --brand-tw: #1da1f2;
  --brand-yt: #ff0000;
  --brand-li: #0077b5;
  --brand-gp: #dd4b39;
  --brand-sk: #00aff0;
  --brand-gh: #333;
}
.box {
  padding: 50px 0;
}
.box.bg-black {
  background: #201f1e;
}
.box.bg-gray {
  background: #3c3c3c;
}
.social-icon-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icon-list li {
  display: inline;
}
.social-icon-list li a {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all .75s ease-out;
     -moz-transition: all .75s ease-out;
    -ms-transition: all .75s ease-out;
     -o-transition: all .75s ease-out;
      transition: all .75s ease-out;
}
.social-icon-list.with-colors li.fb a:hover {
  background: var(--brand-fb);
}
.social-icon-list.with-colors li.tw a:hover {
  background: var(--brand-tw);
}
.social-icon-list.with-colors li.yt a:hover {
  background: var(--brand-yt);
}
.social-icon-list.with-colors li.li a:hover {
  background: var(--brand-li);
}
.social-icon-list.with-colors li.gp a:hover {
  background: var(--brand-gp);
}
.social-icon-list.with-colors li.sk a:hover {
  background: var(--brand-sk);
}
.social-icon-list.with-colors li.gh a:hover {
  background: var(--brand-gh);
}
.social-icon-list.after-effect li a {
  z-index: 1;
}
.social-icon-list.after-effect li a:after {
  position: absolute;
  content: " ";
  z-index: -1;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
     -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
}
.social-icon-list.after-effect li.fb a:after {
  background: var(--brand-fb);
}
.social-icon-list.after-effect li.tw a:after {
  background: var(--brand-tw);
}
.social-icon-list.after-effect li.yt a:after {
  background: var(--brand-yt);
}
.social-icon-list.after-effect li.li a:after {
  background: var(--brand-li);
}
.social-icon-list.after-effect li.gp a:after {
  background: var(--brand-gp);
}
.social-icon-list.after-effect li.sk a:after {
  background: var(--brand-sk);
}
.social-icon-list.after-effect li.gh a:after {
  background: var(--brand-gh);
}
.social-icon-list.shutter-left li a:after {
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}
.social-icon-list.shutter-left li a:hover:after {
  width: 100%;
}
.social-icon-list.shutter-right li a:after {
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
}
.social-icon-list.shutter-right li a:hover:after {
  width: 100%;
}
.social-icon-list.shutter-top li a:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.social-icon-list.shutter-top li a:hover:after {
  height: 100%;
}
.social-icon-list.shutter-bottom li a:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.social-icon-list.shutter-bottom li a:hover:after {
  height: 100%;
}
.social-icon-list.shutter-left-right li a:after {
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
}
.social-icon-list.shutter-left-right li a:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}
.social-icon-list.shutter-right-left li a:after {
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}
.social-icon-list.shutter-right-left li a:hover:after {
  right: 0;
  left: auto;
  width: 100%;
}
.social-icon-list.shutter-top-bottom li a:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.social-icon-list.shutter-top-bottom li a:hover:after {
  height: 100%;
  top: 0;
  bottom: auto;
}
.social-icon-list.shutter-bottom-top li a:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.social-icon-list.shutter-bottom-top li a:hover:after {
  height: 100%;
  top: auto;
  bottom: 0;
}
.social-icon-list.zoom li a:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  margin: 0 auto;
  opacity: 0;
}
.social-icon-list.zoom.out li a:after {
  width: 75%;
  height: 75%;
}
.social-icon-list.zoom.in li a:after {
  width: 125%;
  height: 125%;
}
.social-icon-list.zoom li a:hover:after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.social-icon-list.zoom.rotate-out li a:after {
  top: 0;
  left: 0;
  -webkit-transform: scale(.5) rotate(0deg);
     -moz-transform: scale(.5) rotate(0deg);
    -ms-transform: scale(.5) rotate(0deg);
     -o-transform: scale(.5) rotate(0deg);
      transform: scale(.5) rotate(0deg);
}
.social-icon-list.zoom.rotate-out li a:hover:after {
  -webkit-transform: scale(1) rotate(90deg);
     -moz-transform: scale(1) rotate(90deg);
    -ms-transform: scale(1) rotate(90deg);
     -o-transform: scale(1) rotate(90deg);
      transform: scale(1) rotate(90deg);
}
.social-icon-list.zoom.rotate-in li a:after {
  top: 0;
  left: 0;
  -webkit-transform: scale(1.5) rotate(0deg);
     -moz-transform: scale(1.5) rotate(0deg);
    -ms-transform: scale(1.5) rotate(0deg);
     -o-transform: scale(1.5) rotate(0deg);
      transform: scale(1.5) rotate(0deg); 
}
.social-icon-list.zoom.rotate-in li a:hover:after {
  -webkit-transform: scale(1) rotate(90deg);
     -moz-transform: scale(1) rotate(90deg);
    -ms-transform: scale(1) rotate(90deg);
     -o-transform: scale(1) rotate(90deg);
      transform: scale(1) rotate(90deg);
}
.social-icon-list.zoom.out-in li a:after {
  top: 0;
  left: 0;
}
.social-icon-list.zoom.out-in li a:hover:after {
  -webkit-animation: zoomOutIn 1s ease;
     -moz-animation: zoomOutIn 1s ease;
    -ms-animation: zoomOutIn 1s ease;
     -o-animation: zoomOutIn 1s ease;
      animation: zoomOutIn 1s ease;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoomOutIn {
  0% {
    -webkit-transform: scale(.75);
       -moz-transform: scale(.75);
      -ms-transform: scale(.75);
       -o-transform: scale(.75);
        transform: scale(.75);
  }
  40% {
    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
        transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
        transform: scale(1);
  }
}
@keyframes zoomOutIn {
  0% {
    -webkit-transform: scale(.75);
       -moz-transform: scale(.75);
      -ms-transform: scale(.75);
       -o-transform: scale(.75);
        transform: scale(.75);
  }
  40% {
    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
        transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
        transform: scale(1);
  }
}
.social-icon-list.zoom.in-out li a:after {
  top: 0;
  left: 0;
}
.social-icon-list.zoom.in-out li a:hover:after {
  -webkit-animation: zoomInOut 1s ease;
     -moz-animation: zoomInOut 1s ease;
    -ms-animation: zoomInOut 1s ease;
     -o-animation: zoomInOut 1s ease;
      animation: zoomInOut 1s ease;
  animation-fill-mode: forwards;
}
@-webkit-keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
        transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(.75);
       -moz-transform: scale(.75);
      -ms-transform: scale(.75);
       -o-transform: scale(.75);
        transform: scale(.75);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
        transform: scale(1);
  }
}
@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
        transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(.75);
       -moz-transform: scale(.75);
      -ms-transform: scale(.75);
       -o-transform: scale(.75);
        transform: scale(.75);
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
        transform: scale(1);
  }
}